#form_div {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    float: left;
    font-style: italic;
    background-image: radial-gradient(blue, pink);
}

#view_div {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    float: right;
    text-align: center;
    background-color: grey;
    font-style: italic;
    font-size: 25px;
    background-image: radial-gradient(purple, pink);
}

#view_div>button {
    position: absolute;
    top: 250px;
}